// Bootstrap variable overrides

// Base font family
$font-family-base: "Roboto", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$twitter-blue: #1da1f2;

// Background color
$body-bg: rgb(242, 242, 244);
